$main-bgColor: #930c0c;
$sub-bgColor: rgba(249, 127, 149, 14%);
$main-text: white;
$main-hover:rgba(112, 23, 39, 0.966);
$sub-text: #930c0c ;
$main-font:'Racing Sans One',  cursive;
$sub-font: "Rokkitt", serif;
$spacing: 10px;