@use "../variable.scss" as *;
.about {
  text-align: center;
  color: $sub-text;
  &__title {
    font-size: 50px;
    font-weight: 400;
    margin: 0;
  }
  &__para {
    margin: 0;
    font-family: $sub-font;
    font-size: 1.9ch;
    font-weight: 400;
    line-height: 2ch;
  }
}
