@use "../variable.scss" as *;

.mainContent {
  display: flex;
  flex-direction: column;
  // margin: 0 40px;
  // gap: 40px;
  &__btn.btns{
   color: $sub-text;
    justify-content: center;
    margin: 0 5%;
    &:hover {
      background: linear-gradient(
        180deg,
        #d32b49 0%,
        rgba(250, 97, 124, 0.290937) 0.01%,
        rgba(171, 158, 160, 0.44) 100%
      );
    }
    .icon {
      color: $sub-text;
    }
  }
}